/* ID Selectors */
#lang-selector-body{							  /* moving up the language selector */
	margin-top: -4em;
	z-index: 2;
	right: 0;
}		      
#lang-selector-text,#lang-selector-close{font-size: 0.6em;}	/* language selector hover & cancel containers */
#menu-body{margin-top: -1em;z-index: 2;}

/* class selectors */	
.bg-dark{background:black!important;}	        /* Overriding the pre-existing black color */
.overflow-toggle{overflow: hidden;}				  /* Hiding scrollbar*/
.collapse{display: none!important;}				  /* Change in display not possible w/o !important*/
.show{display: block!important;}				  /* Change in display not possible w/o !important*/
.cursor-pointer{cursor: pointer;}				  /* Cursor will be a pointer*/
.spinner-container{padding-top: 10em;}			  /*Spacing the container containing the spinner*/
.input-group{width: 90%;}						  /*Input group for search button*/
.search-input{border: 0px;}						  /*Styling text input field for search*/
.search-input:focus{box-shadow: 0px 0px;}		  /*Styling text input field for search on focus*/
.search-btn:focus{					
	color: black;
	background: white;
	box-shadow: 0px 0px;
}
.search-input::placeholder{
	color: white;
	content: "Search articles, videos & shows";
}
.link-bottom{	
	font-size: 14px;
	font-style: monospace;
}
.hover-grey:hover{								   /* Hovering over menu items => lightgrey color */
	color: lightgrey!important;
	cursor: pointer;
}
.hover-dark-grey:hover{							   /* Hovering over menu items => lightgrey color */
	color: rgba(100,100,100)!important;
	cursor: pointer;
}

/* Container containing the content which will be splash for 1.5 seconds */
.splash{
	overflow: hidden;
	position: fixed;
	z-index: 4;
}
.splash>.splash-img{
	width: 10%;
}

/* Styling card */
.top-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.bottom-img{
	height: 225px;
	width: 100%;
	background: lightgrey;		/*Default background when the image fails to load*/
	object-fit: cover;
}
.news-title{letter-spacing: 1.5px;}
.card{border-radius: 0px;}
.rate-limit-illustration{width: 50%;}

/* element selectors */
a{cursor: pointer;}						          /* Default cursor style for all the links */
body{font-family: fg, sans-serif;}		          /* Default font across the body */

/* @ CSS rules */
@font-face{									       /* Adding a new font for the web page */
	font-family: fg;
	src: url("fg.woff");
}
@media(max-width: 992px){
	#lang-selector-text,#lang-selector-close{font-size: 0.8em;}
	#lang-selector-body{width: 100%;}
	.input-group{width: 100%;}
	.link-bottom{font-size: 10px;}
	.top-img-container{width: 100%;}
	.rate-limit-illustration{width: 100%;}
	.bottom-img{height:300px;}
}